@import "normalize";
@import "variables";
@import "header";
@import "hero";
@import "services";
@import "results";
@import "portfolio";
@import "partners";
@import "contact";
@import "footer";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: $main-black;
    color: $main-white;
    font-family: 'Gilroy', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

